src/main/mule/munit-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="947619b2-1eb0-47db-bab2-fe120b0b3334" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="ae654fb2-fc7d-4285-b583-a4063c593c38" >
		<db:oracle-connection host="localhost" user="system" password="admin" instance="xe" />
	</db:config>
	<flow name="munit-demoFlow" doc:id="c3622c1b-7939-47ca-bd9d-3395f5b73eaa" >
		<http:listener doc:name="Listener" doc:id="421e7d4c-0097-4bd1-be50-554127fe9da5" config-ref="HTTP_Listener_config" path="munit-demo"/>
		<logger level="INFO" doc:name="Logger" doc:id="44ca4fb9-ff90-4400-947e-182a4fada4aa" message="#[payload]"/>
		<db:select doc:name="Select" doc:id="3b7ea6c2-d178-4f16-91b8-ffd7c14d495c" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM employee WHERE EMP_ID=:emp_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	emp_id : attributes.queryParams.empid
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="40b30523-b63d-4990-919f-9e3eaafc89ca" >
			<when expression="#[sizeOf(payload)&gt;0]">
				<ee:transform doc:name="Success" doc:id="b2ce0853-36c7-4cb5-9a7d-425ddb2c0ba8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="2a21a38e-b47a-46d2-8d92-5a1a61dd7356" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Employee ID does not exist"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>

			</otherwise>
		
</choice>
	</flow>
</mule>
